___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright Pierian Data</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [3]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

# DataFrame.dropna
DataFrame.dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)
  * axis:{0 or ‘index’, 1 or ‘columns’}, default 0: 0 menas drop rows containing missing values and 1 means columns
  * how: {‘any’, ‘all’}, default ‘any’ Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.
  * thresh, integer optional: Require that many non-NA values.

In [12]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [4]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [5]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

# DataFrame.fillna/Series.fillna
DataFrame.fillna(self, value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)
  * value : scalar, dict, Series, or DataFrame - Value to use to fill holes (e.g. 0), alternately a dict/Series/DataFrame of values specifying which value to use for each index (for a Series) or column (for a DataFrame)
  * method : {‘backfill’, ‘bfill’, ‘pad’, ‘ffill’, None}, default None Method to use for filling holes in reindexed Series pad / ffill: propagate last valid observation forward to next valid backfill / bfill: use next valid observation to fill gap.
  * axis : {0 or ‘index’, 1 or ‘columns’} Axis along which to fill missing values, this affects if some method is used: 0 means along the rows (so column by column) and 1 mean along the columns (so row by row)

In [12]:
df.fillna(method = 'bfill', axis = 1)

     A    B    C
0  1.0  5.0  1.0
1  2.0  2.0  2.0
2  3.0  3.0  3.0

In [14]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [16]:
df # It is not inplace

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

# Great Job!